# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual Environments
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django specific
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.dump
*.sql

# Environment variables & secrets
.env
.env.*
!.env.example

# IDE & OS files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.sw?
